.page-header {
    padding: 36px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 8888;
}
.header {
    display: flex;
    flex-wrap: wrap;
}
.header__logo{
}

.button_menu{
    width: 50px;
    display: none;
    position: relative;
}
@media  (max-width:768px) {
    .button_menu{
        display: block;
    }
}

.form-search {
}
.form-search__body {
    position: relative;
}
input.form-search__input {
    width: calc(100% - 70px);
    display: inline-block;
}
.form-search__btn {
    padding: 0 10px;
    width: 70px;
}

.header-line-height{
    
}
