$default_color: #fff;
// colors
$red: red;
$blue: blue;
$green: green;
$white: white;
$gray: gray;
$black: #181C22;
$navy_dark: #2B3038;
$orange: #FC6B3A;
$yellow: yellow;
$nude: #F0D9BF;
$silver: silver;

$size1: 100px;
$size2: 60px;
$size3: 57px;
$size4: 40px;
$size5: 22px;
$size6: 24px;
$size12: 12px;
$size_big: 120px;
$size_default: 20px;

